public/storage
/vendor
/node_modules
/storage
/storage/log*
/storage/framework/sessions/*
# PHPStorm specific
.idea
bootstrap/cache/*
# Ignore Laravel session files
/storage/framework/sessions/*
/storage/framework/views/*

# Ignore Laravel cache files
/bootstrap/cache/*
/storage/logs/laravel.log

# General
.DS_Store
Thumbs.db

public/.htaccess
.env-old
.env
public/profile
